<div class="p-3">
    <h2>My Profile</h2>
    <div class="d-flex flex-row justify-content-between">
    <div class="card p-3 col-6 me-1">
        <h3>Personal Infos</h3>
        
        <div class="mb-3">
            <label for="firstname" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstname" placeholder="First name">
          </div>
          <div class="mb-3">
              <label for="lastname" class="form-label">Last Name</label>
              <input type="text" class="form-control" id="lastname" placeholder="last name">
            </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="iban" placeholder="Ex : MAD5643TR6">
          </div>  
    </div>
    
<div class="card p-3 col-6">
    <h3>Address Infos</h3>
    <div class="mb-3">
        <label for="street" class="form-label">Street</label>
        <input type="text" class="form-control" id="street" placeholder="street">
      </div>
      <div class="mb-3">
          <label for="house-number" class="form-label">House Number</label>
          <input type="text" class="form-control" id="house-number" placeholder="house-number">
        </div>
      <div class="mb-3">
        <label for="city" class="form-label">City</label>
        <input type="email" class="form-control" id="city" placeholder="Your City">
      </div>  
    </div>
</div>
<div>

</div>
</div>

    <div class="d-flex justify-content-end mt-3">
        <button class="btn btn-link text-danger">
            <em class="fas fa-times "></em>&nbsp;Cancel
           </button>
       <button class="btn btn-primary">
        <em class="fas fa-save"></em>&nbsp;Save
       </button>
       
      </div>
    