<div class="p-3">
    <h2>My Contact</h2>
    
    <div class="d-flex justify-content-end mb-3">
        <button type="button" class="btn btn-primary">
            <em class="fas fa-plus"></em>&nbsp; New Contact
        </button>
    </div>
    <table class="table table-bordred">
        <thead>
          <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">IBAN</th>
            <th scope="col">Actins</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td class="cursor">
                <em class="fas fa-edit text-primary">
                </em>&nbsp; |&nbsp; <em class="fas fa-trash text-danger"></em>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td class="cursor">
                <em class="fas fa-edit text-primary">
                </em>&nbsp; |&nbsp; <em class="fas fa-trash text-danger"></em>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td class="cursor">
                <em class="fas fa-edit text-primary">
                </em>&nbsp; |&nbsp; <em class="fas fa-trash text-danger"></em>
            </td>
          </tr>
        </tbody>
      </table>
    </div>