<div class="container-fluid card login">
    <h3 class="text-center">Login</h3>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3 ">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
      <div class="d-flex justify-content-between mb-3">
        <button type="button" class="btn btn-primary">
            <em class="fas fa-sign-in-alt">&nbsp;Sign-in</em>
        </button>
        <div>
        Don't have an account?&nbsp;<button type="button" class="btn btn-link">Register</button>
    </div>
      </div>

</div>
