<div class="container-fluid card login">
    <h3 class="text-center">Create Account</h3>
        <div class="mb-3">
          <label for="firstname" class="form-label">First Name</label>
          <input type="text" class="form-control" id="firstname" placeholder="First name">
        </div>
        <div class="mb-3">
            <label for="lastname" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastname" placeholder="last name">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" placeholder="email">
          </div>
        <div class="mb-3 ">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" placeholder="password">
        </div>
        <div class="mb-3 ">
            <label for="repeat-password" class="form-label">Repeat Password</label>
            <input type="password" class="form-control" id="repeat-password" placeholder="Repeat password">
          </div>
      <div class="d-flex justify-content-between mb-3">
        <button type="button" class="btn btn-primary">
            <em class="fas fa-sign-in-alt">&nbsp;Create Account</em>
        </button>
        <div>
        Already have an account?&nbsp;<button type="button" class="btn btn-link">Login</button>
    </div>
      </div>

</div>
